html, body {
    background-color: #2D2C2C;
    color: white;
    width: 100%;
    height: 95%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

a:link {
    color: rgb(156, 194, 255);
}

a:visited {
    color: rgb(133, 180, 255);
}

a:hover {
    color: rgb(219, 233, 255);
}

.statusImg {
    padding-right: 15px;
}

.img {
    height: 75%;
    width: auto;
    padding-right: 15px;
}

.notice {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto 15px;
    width: 50%;
    height: 99px;

    background: #15959D;
    border-radius: 8px;
}

.notice h2 {
    padding-top: 5px
}

.container {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.status {
    display: inline-flex;
    padding: 5%;
    vertical-align: middle;
}

.txt {
    display: block;
    vertical-align: middle;
}

.content {
    min-height: calc(100vh - 71px);
}
footer {
    height: 50px;
    background-color: #333333;
}

/*@media (min-width: 600px) {

}*/

@media screen and (max-width: 600px) {
    .notice { width: 70%; height: 199px }
    .notice h2 { font-size: 16px }
    .img { padding-right: 0; height: 50px; width: auto; padding-top: 15px }
    .container { flex-direction: column }
}
